<nav class="navbar is-primary">
   <div class="container">
      <div class="navbar-brand">
       {% if include.brand %}
         <a class="navbar-item" href="{{ site.url }}" title="{{ site.title }}">
           <img src="{{ '/assets/images/logo_flat.svg' | prepend: site.url }}" alt="{{ site.title }}">
         </a>
       {% endif %}

       <a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
     </div>
      <div class="navbar-menu" id="navbar-menu">
         <div class="navbar-start">
            {% for item in site.data.navigation %}
                {% if item.pages %}
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link {% if page.url == item.link %}is-active{% endif %}" href="{{ item.link | prepend: site.url }}">
                      {{ item.name }}
                    </a>
                    <div class="navbar-dropdown">
                      {% for subitem in item.pages %}
                      <a class="navbar-item {% if page.url == subitem.link %}is-active{% endif %}" href="{{ subitem.link | prepend: site.url }}">
                        {{ subitem.name }}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <a class="navbar-item {% if page.url == item.link %}is-active{% endif %}" href="{{ item.link | prepend: site.url }}">
                    {{ item.name }}
                  </a>
                {% endif %}
            {% endfor %}
         </div>
      </div>
   </div>
</nav>
