<div class="content">
   <h2 class="title"><a href="{{ post.url | prepend: site.url}}">{{ post.title }}</a></h2>
   <p class="subtitle">
      <time datetime="{{ post.date | date_to_xmlschema }}" title="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d.%m.%Y" }}</time>
      {% for category in post.categories %}
         {% include category_tag.html %}
      {% endfor %}
   </p>
   <p>
      {{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url | prepend: site.url }}">Weiterlesen&nbsp;&raquo;</a>
   </p>
</div>
