---
---
$family-sans-serif: 'Lato', sans-serif;
$family-titles: 'Raleway', sans-serif;

$fullhd-enabled: false;
$widescreen-enabled: false;
$turquoise:  hsl(171, 70%, 45%);
$turquoise: hsla(168, 90%, 32%, 1);

@import "bulma";
// @import "font-awesome";

.title, .subtitle {
   font-family: $family-titles;
}

.hero {
   &.has-image {
      background: url('../images/header.jpg') center center no-repeat;
      background-size: cover;
   }
}

.hero-body {
   .logo {
      display: inline-block;
      img {
         height: 250px;
      }
   }
}

ul.recent-posts {
   list-style: none;
   margin-left: 0;
}

.footer {
   .title {
      color: $grey;
   }

   a {
      color: inherit;
   }
}

.footer-below {
   border-top: 2px solid $grey-lighter;
   margin-top: 2em;
   padding-top: 2em;
   text-transform: uppercase;
}
