---
layout: base
---
{% assign author = site.data.authors[page.author] %}
{% include navbar.html brand=true %}
<div class="section">
   <div class="container content is-medium">
      <h1 class="title">{{ page.title }}</h1>
      <p class="subtitle">
         <time datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d.%m.%Y" }}</time> - {% include read_time.html %} - Von {{ author.name }}
      </p>
      {{content}}
      <p class="has-text-grey-light">
         Kategorien:
         {% for category in page.categories %}
            {% include category_tag.html %}
         {% endfor %}
      </p>
   </div>
</div>
